.actual{
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  .table__header{
    width: calc(100% - 8px);
    display: grid;
    background-color: #3d5af1;
    color: #e2f3f5;
    font-size: 2rem;
    font-weight: 400;

    .th--1{
      grid-column: 1/2;
    }
    .th--2{
      grid-column: 2/3;
    }
    .th--3{
      grid-column: 3/4;
    }
  }
  .header__row{
    display: grid;
    grid-template-columns:70% 15% 15% ;
  }

  .table{
  background-color: var(--color-borders);
  width: 100%;
  border-spacing: 1px;
  border-color: var(--color-borders);
    tr{

      &:nth-child(even){
        background: var(--color-odd-rows);
      }
      &:nth-child(odd){
        background: var(--color-even-rows);
      }
    }

    td{
      position: relative;
      font-size: 1.4rem;
      &:first-child{
        display: grid;
        grid-template-columns: 20% 20% 60%;
      }
      .fullName{
        grid-column: 3/4;
      }
      .abr{
        grid-column: 2/3;
        justify-content: start;
        text-align: start;
      }
      .flag{

        img{
          position: absolute;
          height: 115%;
          transform: translateY(-8%);

        }
      }

      img{
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        width: 3rem;

      }

    }
    .trend{
      width: 15%;
    }
    .spot{
      width: 15%;
    }
  /*  td{
      border-right: 2px solid var(--color-borders);
    }*/
  }
}
.scroll{
  height: 550px;
  overflow-y: scroll;

}

/*
td : 12px
th: 20 px
flags 24x24
arrows 37x32
th background color #2d9cdb  rgb(45,156,219) text color th rgb(234,234,234)
td background color #e0e0e0 rgb(224,224,224)
td background color (nth-child(2n))#f2f2f2 rgb(242,242,242)
borders color #bdbdbd rgb(189,189,189)
green arrow : rgb(18,212,96)
red arrow : #d42612
*/
